/*Master*/
* {
	font-family: 'Leoscar Sans Serif', 'Leoscar Serif', sans-serif;
	color: #838383;
}

dev::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

html,body {
	background: #131313;
	overflow: hidden;
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.master-container {
	
}

/*header including navigation*/
header {
	position: fixed;
	top: 0px;
	height: 80px;
	width: 100%;
	display: inline;
	z-index: 9999;
	background: #131313;
}

.logo-text {
	font-size: 21px;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: .5px;
}

.navbar {
	background: #2C2C2C;
}

.nav-tabs {
	border-bottom: #000
}

/*Footer*/
footer {
	position: fixed;
	bottom: 0px;
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
	height: 100px;
	background: #131313;
}

.footer-logo {
	position: absolute;
	left: 30px;
	top: 0;
}

.footer-logo {
	background: url(../images/raijin.png) no-repeat;
	height: 100px;
	width: 100px;
}

.footer-details {
	text-align: right;
	font-size: 13px;
	margin-top: 19px;
}

.busyComponent {
	background-image: url('../images/spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
}

/*content*/
.content-container {
	margin-top: 100px;
	display: inline-flex;
	padding-left: 5px;
    padding-right: 5px;
}

div#center-panel {
	overflow: auto;
	width: 80%;
}

div#left-panel {
	float: left;
	overflow: auto;
	width: 20%;
}

div#right-panel {
	float: right;
	overflow: auto;
	width: 20%;
}

/*Bootstrap overrides */