<div class="login-container">

	<div class="header-info">
		<h1>Sign In</h1>
		
		<div>Use an existing Identity</div>
	</div>
	
	<div class="hrule"></div>

	<div class="login-form">
	
		<div class="form-group">
			<label>Email</label>
			<input class="form-control" type="text" name="signon-email" placeholder="Registered Email">
		</div>
		
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" type="password" name="signon-pass" placeholder="Password">
		</div>
		
		<button class="login btn btn-default">Sign In</button>
	</div>
	
	<div class="form-options">
		Forgot your password? | Register
	</div>

</div>