<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.limitless.DAO.mappers.IManageUserMapper">

	<resultMap id="userResultMap" type="User">
		<result property="UID" column="UID" />
		<result property="displyId" column="DISPLYID" />
		<result property="fname" column="USR_FNAME" />
		<result property="lname" column="USR_LNAME" />
		<result property="email" column="EMAIL" />
		<result property="roleId" column="ROLEID" />
		<result property="statusId" column="STATUS" />
		<result property="createDate" column="CREATED_DATE" />
		<result property="lastModifiedDate" column="LAST_MODIFIED_DATE" />
	
	
	</resultMap>
	
	<select id="requestUserInfo" resultMap="userResultMap" statementType="CALLABLE"> 
		{call MUGENJO.`PKG_MANAGEUSER.PRC_GETUSERDETAILS`( 
			#{UID,		jdbcType=VARCHAR, 		javaType=String, 		mode=IN}
        )}
	</select>	
	
	<select id="validateLogin" resultMap="userResultMap" statementType="CALLABLE"> 
		{call mugenjo.`PKG_MANAGEUSER.PRC_VALIDATELOGIN`( 
			#{email,		jdbcType=VARCHAR, 		javaType=String, 		mode=IN},
			#{pwd,			jdbcType=VARCHAR, 		javaType=String, 		mode=IN}
        )}
	</select>
	
	
</mapper>